<!DOCTYPE html>
<html>
<head>
	<title>restaurants</title>
</head>
<body>
	<h1>restaurant List</h1>

	<a href="/home">Back</a> |
	<a href="/logout">logout</a>

<br><br>
	

	<% for(var i=0; i< restaurant.length; i++){ %>
	<table border="1">
		<tr>
			<td><%= restaurant[i].id %> | <%= restaurant[i].name %></td>
		</tr>
		<tr>
			<td>Location : <%= restaurant[i].location %></td>
		</tr>
		<tr>
			<td>Background Of this Restaurant: <br> <%= restaurant[i].background %></td>
		</tr>
		<tr>
			<td>
				<a href="/restaurant/menu/<%= restaurant[i].id %>"> Menu </a>
			</td>
		</tr>
	</table>	
	<br><br>
			
		
	<% } %>
	
</body>
</html>